*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.navbar{
    display: flex;
     /* flex-direction: row; */
     align-items: center; 
     background-color: black;
     padding: 10px 30px;
     position:sticky;
     top: 0px;
     z-index: 1000;
      
}
.nav-links{
    /* padding-top: 10px; */
    display: flex;
    flex-direction: row;
    /* padding-top: 50px; */
    width: 70%;
     justify-content: space-around;
    font-size: 20px;
}
.navbar a{
    padding: 10px;
    color: white;
    text-decoration: none;
    
}
#profile-btn{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 6px;
    font-size: 20px;
    cursor:pointer;
    background-color: rgb(8, 240, 8); 
}
.navbar a:hover{
    background-color: rgba(249, 247, 245, 0.224);
    border-radius: 2px;
}
#profile-btn:hover{
     background-color: rgba(6, 216, 52, 0.682);
}
.container{
    /* padding: 20px;
    padding-right: 10px;
    display: flex;
     */
    
    display: flex;
     justify-content: center; /* center all cards horizontally */
    column-gap: 30px; /* horizontal spacing between cards */
    row-gap: 20px;  
    padding: 20px;
    flex-wrap: wrap;
    height: 140vh;
    width: 100vw;
     position: relative;
    /* background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnPFc_bTiW_d3MERoJS51Kyz_eIEVyPNXwng&s");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgba(3, 75, 4, 0.601);
}

.card{
    height: 450px;
    width: 350px;
    background-color: rgba(8, 8, 7, 0.716);
    border-radius: 10px;
    transition: 600ms;
    display: flex;
    flex-direction: column;
}

.card img{
    width: 100%;
  height: 300px;
  object-fit: cover;
   border-radius: 10px;
   transition: 600ms;
}
.card-body{
    color: rgb(248, 245, 245);
     display: flex;
    flex-direction: column;
   padding: 10px;
}
.btn-primary{
   /* background-color: rgb(3, 165, 3);
   height: 30px;
   width: 100px; */
   width: 70px;
    height: 25px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 6px;
    font-size: 20px;
    background-color: darkgreen;
    color: white;
    text-decoration: none;
}
.btn-primary:hover{
    background-color: rgba(3, 74, 40, 0.781);
}
.card-title{
    color: green;
}
.card img:hover{
   transform: scale(.9);
}
.card:hover{
    transform: scale(1.1);
}
/* #babu1 {
   width: 80px;
   height: 80px;
   background-color: green;
   border-radius: 50%;
} */
 .play{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #1db954;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
   transition: transform 0.3s ease;

 }
.play img{
       width: 30px;
   height: 30px;
    object-fit: contain;
}
.icons{
    display: flex;
   justify-content: space-between;
}
a{
    text-decoration: none;
}
.profile {
    height: 550px;
    width: 500px;
    background-color: rgb(17, 17, 16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    top: 90px;
    right: 0px;
    z-index: 10000;
    border-radius: 20px;
    cursor:pointer;
    /* hidden state */
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
    transition: 0.4s ease;
}

 .slide li,#logout{
    height: 40px;
    width: 100%;
    font-size: 30px;
     padding: 30px;
    color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.slide li:hover{
    background-color: rgba(47, 43, 43, 0.503);
    width: 100%;
}
#logout:hover
{
      width: 50%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: blue;
     
}
#user{
    font-size: 40px;
    color: rgb(186, 186, 184);
    display: flex;
    
    gap: 40px;
    justify-content: center;
    align-items: center;

}
#username
{
     display:inline-flex;
     font-weight: bold;
}
/* .profile {
      display: none;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s ease;
} 

/* .profile.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}  */
  .profile.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}


